{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 col-lg-7 col-xl-6">
			<div class="container bg-white">

				<!-- Login title -->
				<div class="row pt-2 text-center">
					<h1><strong>{% trans "Login" %}</strong></h1>
				</div>

					<!-- Login Form -->
					<form method="post">
						{% csrf_token %}

						<!-- Username input -->
						<div class="row my-2 justify-content-center">
							<div class="col-10 col-md-6">
								<div class="input-group">
									<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
									<div class="form-floating">
										{{ form.username }}
										<label for="floatingInputGroupUsername">{% trans "Username" %}</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Password Input -->
						<div class="row my-2 justify-content-center">
							<div class="col-10 col-md-6">
								<div class="input-group">
									<span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
									<div class="form-floating">
										{{ form.password }}
										<label for="floatingInputGroupPassword">{% trans "Password" %}</label>
									</div>					
								</div>
							</div>
						</div>

						<!-- Forgot Password -->
						<div hidden class="form-group row justify-content-center px-3">
							<div class="col-9">
								<!-- Forgot Password Link -->
								<div class="col-12 px-0 text-right">
									<span><a href="#" class="text-danger"><b>{% trans "Forgot Password?" %}</b></a></span>
								</div>
							</div>
						</div>

						<!-- CAPTCHA Checkbox -->
						<div class="row my-2 justify-content-center">
							<div class="col-10 col-md-6">
							  <div class="form-group">
								{{ form.captcha }}
							  </div>
							</div>
						</div>

						<!-- Login button -->
						<div class="row justify-content-center text-center">
							<div class="col-6">
								<input type="submit" value="{% trans 'Login' %}" class="btn btn-primary shadow-none">
							</div>
						</div>

						<!-- Show errors if any -->
						{% if form.errors %}
						<div class="alert alert-danger text-center my-2" role="alert">
							{{ form.captcha.errors.1 }}
							{% for error in form.username.errors %}
								{{ error }}
							{% endfor %}
						</div>
						{% endif %}
						
					</form>

				<!-- Register Now -->
				<div class="row py-3 justify-content-center text-center">
					<h5>{% trans "Don't have an account?" %} <span><a href="{% url 'signup' %}" class="text-danger">{% trans "Register Now!" %}</a></span></h5>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}