.container-fluid {
  background-color: aliceblue;
}

.container-wrapper {
  min-height: 81vh;
}

.container-index {
  background: linear-gradient(to bottom, rgba(240, 248, 255, 0.8), aliceblue);

}
.container-index p {
  font-size: 24px;
}

.container-about-us {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.container-profile {
  max-width: 700px;
}

.container-premium-get {
  color: #50586C;
  font-size: 20px;
}

.container-premium-thank-you {
  color: #50586C;
}

.container-translation-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-new-features {
  font-size: 24px;
}

.container-test-area {
  height: 500px;
}

.poem-textarea {
    width: 100%;
    font-size: 18px;
    color: #666666;
    background-color: white;
    padding: 10px 35px 22px 15px;
    border: 1px solid silver;
    border-radius: 5px;
    line-height: 1.3;
}

.poem-textarea:focus {
    outline-width: 0;
}

.navbar {
    z-index: 2;
}

.navbar-brand img {
  max-width: 150px;
}

.nav-item>a {
    min-width: 80px;
    text-align: center;
}

.nav-item>a:not(.button_premium):hover {
    color: rgb(76, 174, 255) !important;
}

.button_premium {
    /* background-image: linear-gradient(to right, #f46b45 0%, #eea849 51%, #f46b45 100%); */
    background-image: linear-gradient(to right, #0072ff 0%, #00c6ff 51%, #0072ff 100%);
    padding: 0 45px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 168px;
}

.button_premium:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.user_authentication {
    line-height: 20px;
}

.thank-you-premium {
    font-size: 32px;
}
  
.btn-get-premium {
    background-color: #50586C;
    width: 200px;
    font-size: 20px;
    height: 60px;
    border: none;
    outline: none;
    color: #DCE2F0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    line-height: 25px;
}

.btn-get-premium::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn-get-premium:hover::before {
    opacity: 1;
}

.btn-get-premium::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555273;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.custom-control-label::before {
	background-color: #dee2e6;
	border: #dee2e6;     
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 20px;
  top: 10vh;
  position: fixed;
  align-self: center;
  z-index: 1000;
  animation: fadeOutError 3s forwards;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeOutError {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.alert-warning {
  font-size: 26px;
  top: 60px;
  position: fixed;
  align-self: center;
  z-index: 1000;
  animation: fadeOutWarning 10s forwards;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeOutWarning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.alert-success {
  position: fixed;
  align-self: center;
  font-size: 22px;
  top: 70px;
  z-index: 1000;
  animation: fadeOutSuccess 4s forwards;
  box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeOutSuccess {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.tooltip {
  pointer-events: none;
}

.copy-to-clipboard {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #333;
  color: aliceblue;
  font-size: 12px;
  text-align: center;
}

.copy-to-clipboard:hover {
  background-color: #4d4d4d;
}

.copyable-textbox {
  position: relative !important;
}

.save-check {
  color: #45d35d;
  display: none;
  margin-left: 2px;
}

.linker {
  display: block;
  text-decoration: none;
}

.character_counter {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 95vw;
  color: aliceblue;
  border-top-style: solid;
  border-top-color: aliceblue;
  border-top-width: 1px;
}

footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
  color: inherit;
}

.image-flag {
  max-width: 23px;
}

.image-github {
  max-width: 45px;
}

/* Place 'search' to the left and 'pagination' to the right */
.dataTables_wrapper .dataTables_filter {
  float: left;
}
.dataTables_wrapper .dataTables_length {
  float: right;
}

.staff_area {
  position: fixed;
  right: 10px;
}

.achievement_badge {
  max-height: 130px;
}

#premium-badge {
  max-width: 130px;
}

#premium-badge-icon {
  max-width: 20px;
}

#btn-language-dropdown {
  width: auto;
  max-height: 40px;
}

.display-none {
  display: none;
}

.img-download {
  color: aliceblue;
}
.img-download:hover {
  color: rgb(167, 214, 255);
}

.img-support-us {
  max-width: 162px;
}

.header-support-us {
  text-shadow: 3px 2px 6px #cfcea8;
}

#logo-buy-me-a-coffee {
  width: 200px;
}

.img-github {
  min-width: 45px;
}

.poem_count_badge {
  max-height: 120px;
}