{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="container bg-white">

          <!-- Register title -->
          <div class="row pt-2 text-center">
            <h1><strong>{{ gui_messages.register }}</strong></h1>
          </div>

          <form id="form-signup" method="post">
            {% csrf_token %}
            <!-- Username input -->
            <div class="row my-2 justify-content-center">
              <div class="col-10 col-md-6">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                  <div class="form-floating">
                    {{ form.username }}
                    <input type="hidden" id="url-check-username" value="{% url 'check_username_exists' %}">
                    <label for="floatingInputGroupUsername">{{ gui_messages.username }}</label>
                  </div>

                  <div class="col-12">
                    <span id="username-taken-error" class="text-danger display-none">{{ gui_messages.username_taken }}</span>
                  </div>

                </div>

                <div class="col-12">
                  {% for error in form.username.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>

              </div>
            </div>

            <!-- Email input -->
            <div class="row my-2 justify-content-center">
              <div class="col-10 col-md-6">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-envelope fa-sm"></i></span>
                  <div class="form-floating">
                    {{ form.email }}
                    <label for="floatingInputGroupEmail">{{ gui_messages.email }}</label>
                  </div>

                  <div class="col-12">
                    {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>

            <!-- Password Input -->
            <div class="row my-2 justify-content-center">
              <div class="col-10 col-md-6">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <div class="form-floating">
                    {{ form.password1 }}
                    <label for="floatingInputGroupPassword1">{{ gui_messages.password }}</label>
                  </div>

                  <div class="col-12">
                    <span class="text-danger">{{ form.password1.errors.0 }}</span>
                  </div>

                </div>
              </div>
            </div>

            <!-- Password repeat input -->
            <div class="row my-2 justify-content-center">
              <div class="col-10 col-md-6">
                <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <div class="form-floating">
                    {{ form.password2 }}
                    <label for="floatingInputGroupPassword2">{{ gui_messages.password_repeat }}</label>
                  </div>

                  <div class="col-12">
                    <span class="text-danger">{{ form.password2.errors.0 }}</span>
                  </div>

                </div>
              </div>
            </div>

            <!-- CAPTCHA Checkbox -->
            <div class="row justify-content-center">
              <div class="col-10 col-md-6">
                <div class="form-group">
                  {{ form.captcha }}
                </div>
                
                <div class="col-12 my-2">
                  {% if form.captcha.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ form.captcha.errors.1 }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Register button -->
            <div class="row justify-content-center text-center">
              <div class="col-6">
                <input type="submit" value="{{ gui_messages.register_button }}" class="btn btn-primary shadow-none">
              </div>
            </div>

          </form>


          <!-- Sign in now -->
          <div class="row my-3 justify-content-center text-center">
            <h5>{{ gui_messages.already_have_account }} <span><a href="{% url 'login' %}" class="text-danger">{{ gui_messages.sign_in_now }}</a></span></h5>
          </div>

          <!-- Registration requirements -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ gui_messages.registration_requirements }}</h5>
              <ul>{{ gui_messages.registration_requirements_text|safe }}</ul>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

<script src="{% static 'js/signup.js' %}"></script>

{% endblock %}