{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="background-color: aliceblue; padding: 40px; padding-top: 20px;">
    <h class="display-6">About Poetorium</h>
    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 30px;">
        Poetorium is a project that allows users to translate poetry from one language to another. 
        It is designed to provide a user-friendly platform for enhancing translation skills and exploring poetry from different cultures.
    </p>
</div>
{% endblock %}