{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<style>
.alert-success {
    color: #0c5460;   
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
</style>

{% if not user.is_authenticated %}
<div class="container-fluid" style="background-color: aliceblue; padding: 40px; padding-top: 20px;">
    <h class="display-6">{% trans 'To see your library, you need to' %} <a href="{% url "login" %}">{% trans 'sign in' %}</a>.</h>
</div>
{% else %}

<div class="container-fluid" style="background-color: aliceblue; padding: 40px; padding-top: 20px;">
    <h class="display-6">{% trans "My Library" %}</h>
    <p>{% trans "Total number of Poems:" %} {{ object_list|length }}</p>

    <!-- Poem table -->
    <div class="poems_list">
        <table class="table table-hover" id="poems-table">
            <thead>
                <tr>
                    <th scope="col">{% trans '#' %}</th>
                    <th scope="col">{% trans 'Title' %}</th>
                    <th scope="col">{% trans 'Author' %}</th>
                    <th scope="col">{% trans 'Target Language' %}</th>
                    <th scope="col">{% trans 'Created at' %}</th>
                    <th scope="col">{% trans 'Is hidden' %}</th>
                  </tr>
            </thead>
            <tbody>
                {% for poem in object_list %}
                <tr class="poem">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'poem_detail' poem.id %}">{{ poem.title }}</a></td>
                    <td>{{ poem.author }}</td>
                    <td>{{ poem.target_lang|capfirst }}</td>
                    <td>{{ poem.created_at }}</td>
                    <!-- If poem is hidden, display a gray badge -->
                    <td>{% if poem.is_hidden %} <h5 style="margin-bottom: 0;"><span class="badge badge-secondary">{% trans "Hidden" %}</span></h5>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}