{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  .poem_count_badge {
    max-height: 120px;
    padding: 0 30px;
  }
</style>

{% if not user.is_authenticated %}
<h class="display-6" style="text-align: center; background-color: aliceblue; padding: 20px">
    You are not signed in!
</h>
{% else %}
<div class="container-fluid" style="background-color: aliceblue; text-align: center; max-width: 70%;">
  <h class="display-6">
    {% trans "Welcome" %}, {{ user.username }}!
  </h>
  <div class="d-flex align-items-start" style="padding-bottom: 20px">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
        type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
      <button class="nav-link" id="v-pills-achievements-tab" data-bs-toggle="pill"
        data-bs-target="#v-pills-achievements" type="button" role="tab" aria-controls="v-pills-achievements"
        aria-selected="false">Achievements</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <!-- Home -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <ul>
          <h5 style="text-align: left;">
            <li>
              {% trans "Total number of poems:" %} {{ total_poems }}
            </li>
            <li>
              {% trans "Date joined:" %} {{ user.date_joined }}
            </li>
            {% if user.is_premium %}
            <li>
              {% trans "You have premium status" %}
            </li>
            {% else %}
            <li>
              {% trans "You have free status." %} <a href="{% url 'premium' %}">{% trans "Upgrade to Premium" %}</a>
            </li>
            {% endif %}
          </h5>
        </ul>
      </div>
      <!-- Profile -->
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <form action="{% url 'delete_user' user.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger" style="width: 140px; margin-top: 10px" onclick="return confirm('{% trans 'Are you sure you want to delete your account?' %}')">{% trans "Delete Account" %}</button>
        </form>
      </div>

      <!-- Settings -->
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

      </div>

      <!-- Achievements -->
      <div class="tab-pane fade" id="v-pills-achievements" role="tabpanel" aria-labelledby="v-pills-achievements-tab">
        <h class="display-6">
          {% trans "Total number of poems:" %} {{ total_poems }}
        </h>
        <div class="container-fluid" style="margin-top: 20px;">
          <span class="tt" data-bs-placement="bottom" title="{% trans 'You have premium status!' %}">
            {% if user.is_premium %}<img style="max-width: 130px" src="{% static 'images/badges/badge_premium.png' %}"
              alt="premium_badge">{% endif %}
          </span>
          {% if total_poems > 0 %}
          <span class="tt" data-bs-placement="bottom" title="{% trans 'Save your first poem to the library!' %}">
            <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_1.png' %}" alt="badge_poems_1">
          </span>
          {% endif %}
          {% if total_poems >= 5 %}
          <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 5 poems saved to your library.' %}">
            <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_5.png' %}" alt="badge_poems_5">
          </span>
          {% endif %}
          {% if total_poems >= 20 %}
          <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 20 poems saved to your library.' %}">
            <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_20.png' %}" alt="badge_poems_20">
          </span>
          {% endif %}
          {% if total_poems >= 50 %}
          <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 50 poems saved to your library.' %}">
            <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_50.png' %}" alt="badge_poems_50">
          </span>
          {% endif %}
          {% if total_poems >= 100 %}
          <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 100 poems saved to your library.' %}">
            <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_100.png' %}" alt="badge_poems_100">
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}