{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">
      <div class="container-fluid container-profile text-center rounded-2">

      <h class="display-6">{% trans "Welcome" %}, {{ user.username }}!</h>
      <div class="d-flex my-3">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <!-- Home button -->
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
            type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>

          <!-- Profile button -->
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>

          <!-- Settings button -->
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
            type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>

          <!-- Achievements button -->
          <button class="nav-link" id="v-pills-achievements-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-achievements" type="button" role="tab" aria-controls="v-pills-achievements"
            aria-selected="false">Achievements</button>

        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Home -->
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <ul>
              <h5 class="text-start">
                <li>
                  {% trans "Total number of poems:" %} {{ total_poems }}
                </li>
                <li>
                  {% trans "Date joined:" %} {{ user.date_joined }}
                </li>

                {% if user.is_premium %}
                  <li>{% trans "You have premium status" %}</li>
                {% else %}
                  <li>{% trans "You have free status." %} <a href="{% url 'premium' %}">{% trans "Upgrade to Premium" %}</a></li>
                {% endif %}
                
              </h5>
            </ul>
          </div>
          <!-- Profile -->
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <form action="{% url 'delete_user' user.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger shadow-none" onclick="return confirm('{{ confirm_account_delete }}')">{% trans "Delete Account" %}</button>
            </form>
          </div>

          <!-- Settings -->
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

          </div>

          <!-- Achievements -->
          <div class="tab-pane fade" id="v-pills-achievements" role="tabpanel" aria-labelledby="v-pills-achievements-tab">
            <h3>{% trans "Total number of poems:" %} {{ total_poems }}</h3>
            <div class="achievements-grid">
              <span class="tt" data-bs-placement="bottom" title="{% trans 'You have premium status!' %}">
                {% if user.is_premium %}<img id="premium-badge" src="{% static 'images/badges/badge_premium.png' %}"
                  alt="premium_badge">{% endif %}
              </span>
              {% if total_poems > 0 %}
              <span class="tt" data-bs-placement="bottom" title="{% trans 'Save your first poem to the library!' %}">
                <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_1.png' %}" alt="badge_poems_1">
              </span>
              {% endif %}
              {% if total_poems >= 5 %}
              <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 5 poems saved to your library.' %}">
                <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_5.png' %}" alt="badge_poems_5">
              </span>
              {% endif %}
              {% if total_poems >= 20 %}
              <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 20 poems saved to your library.' %}">
                <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_20.png' %}" alt="badge_poems_20">
              </span>
              {% endif %}
              {% if total_poems >= 50 %}
              <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 50 poems saved to your library.' %}">
                <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_50.png' %}" alt="badge_poems_50">
              </span>
              {% endif %}
              {% if total_poems >= 100 %}
              <span class="tt" data-bs-placement="bottom" title="{% trans 'Have 100 poems saved to your library.' %}">
                <img class="poem_count_badge" src="{% static 'images/badges/badge_poems_100.png' %}" alt="badge_poems_100">
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}