{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid container-new-features px-4 py-3">
    <h class="display-6">{% trans "Features to be added" %}</h>
    <ol class="my-3">
        
        <li>
            Add a 'Send feedback' button (maybe use <a href="https://github.com/ludrao/django-tellme" target="_blank">django-tellme</a>)
        </li>

        <li>
            Add unit tests to views
        </li>

        <li>
            Add functionality to 'Forgot password' on 'signup.html'
        </li>

        <li>
            web sockets (server sends information to client)
        </li>

        <li>
            cloudflare
        </li>

        <li>
            update i18n files
        </li>

        <li>
            add more language engines in utils.py
        </li>

        <li>
            add sparkling colorful text to "premium.html" to the words "premium user"
        </li>
        
        <li>
            learn actions on github
        </li>

        <li>
            add tooltips to language engines on index.html
        </li>

    </ol>
</div>
{% endblock %}