{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid" style="background-color: aliceblue; padding: 30px; padding-top: 20px;">
    <h class="display-6">{% trans "Features to be added" %}</h>
    <ol style="margin-top: 10px">
        
        <li>
            Add unit tests to views
        </li>

        <li>
            Add functionality for 'Remember me' and 'Forgot password' on 'signup.html'
        </li> 

        <li>
            Add gmail confirmation upon registration
        </li>

        <div class="py-3 border-top"></div>
        <li style="color: green; font-size: 24px">
            Add source code to github public repo and a link to it in 'about.html'
        </li>
        
        <li>
            Add a 'Send feedback' button
        </li>
        
        <li>
            Send to server (poetry.newa.fun)
        </li>
    </ol>
</div>
{% endblock %}