{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="background-color: aliceblue; padding: 40px; padding-top: 20px;">
    <h class="display-6">Features to be added</h>
    <ol>
        <li>
            Poem deletion by authors
        </li>

        <li>
            Achievements for having more poems
        </li>

        <li>
            Share on some social media
        </li>
        
        <li>
            Update 'Poetorium' logo
        </li>
        
        <li>
            Add tooltips on disabled button (e.g. 'save translation' button for anonymous users)
        </li>
        
        <li>
            Send to server (poetry.newa.fun)
        </li>
        
        <li>
            .
        </li>
        
        <li>
            .
        </li>
        
        <li>
            .
        </li>
        
        <li>
            .
        </li>
    </ol>
</div>

{% endblock %}