{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style>
    .clickable {
      cursor: pointer;
    }
</style>

<div class="container-fluid" style="background-color: aliceblue; padding: 40px; padding-top: 20px;">
    <h class="display-6">{% trans "Poem Library" %}</h>

    {% if user.is_staff %}
    <br>
    <a class="btn btn-secondary shadow-none" href="/admin/poetry_translation/poem/" role="button" style="margin: 10px;">{% trans "Change the list (moderator)" %}</a>
    {% endif %}
    <p>
        {% trans "Total number of Poems:" %} {{ object_list|length }}
    </p>
    
    <div class="poems_list">
        <table class="table table-hover" id="poems-table">
            <thead>
                <tr>
                    <th scope="col">{% trans '#' %}</th>
                    <th scope="col">{% trans 'Title' %}</th>
                    <th scope="col">{% trans 'Author' %}</th>
                    <th scope="col">{% trans 'Target Language' %}</th>
                    <th scope="col">{% trans 'Saved by' %}</th>
                    <th scope="col">{% trans 'Created at' %}</th>
                  </tr>
            </thead>
            <tbody>
                {% for poem in object_list %}
                <tr class="poem">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="clickable" onclick="window.location='{% url 'poem_detail' poem.id %}'"><a href="{% url 'poem_detail' poem.id %}">{{ poem.title }}</a></td>
                    <td>{{ poem.author }}</td>
                    <td>{{ poem.target_lang|capfirst }}</td>
                    <td>{{ poem.saved_by }}</td>
                    <td>{{ poem.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}