{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if user != poem.saved_by %}
<div class="container-fluid text-center py-4">
  <h class="display-6">{{ gui_messages.not_allowed }}</h>
</div>
{% else %}
<div class="container-fluid">

  <div class="row gy-5 justify-content-start align-items-center">
    
    <!-- Form to delete the poem -->
    <div class="col-auto py-1">
      <form id="delete-form" action="{% url 'poem_delete' poem.id %}" method="post">
        {% csrf_token %}
        <button onclick="return confirm('{{ gui_messages.confirm_poem_delete }}')" class="btn btn-outline-danger shadow-none">{{ gui_messages.button_delete_poem }}</button>
      </form>
    </div>

    <!-- Save button -->
    <div class="col-auto py-1">
      <button onclick="$('#form-update').submit()" class="btn btn-success shadow-none" type="submit">
        {{ gui_messages.button_save_changes }}
      </button>
    </div>

  </div>

  <form id="form-update" action="{% url 'poem_update' poem.id %}" method="post">
    {% csrf_token %}

    <!-- Updated at -->
    <div class="row gy-1">
      <div class="input-group">
        <div class="col-auto py-1 input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">{{ gui_messages.poem_updated_at }}</span>
        </div>
        <div class="col-auto py-1">
          {{ form.updated_at }}
        </div>
      </div>
    </div>

    <div class="row gy-2 align-items-center">
      
      <!-- Language engine -->
      <div class="col-auto py-1">
        {{ form.language_engine }}
      </div>

      <!-- Is hidden from library -->
      <div class="col-auto my-1 mx-3 form-check form-switch">
        {{ form.is_hidden }}
        <label class="form-check-label" for="flexSwitchCheckDefault">{{ gui_messages.checkbox_hide_from_library }}</label>
      </div>

    </div>

    <div class="row gy-1 justify-content-start align-items-center">

      <!-- Source language -->
      <div class="col-auto">
        {{ form.source_lang }}
      </div>
    
      <!-- Simple right arrow -> -->
      <div class="col-auto"><i class="fa-solid fa-arrow-right fa-beat fa-xl"></i></div>
      
      <!-- Target language -->
      <div class="col-auto">
        {{ form.target_lang }}
      </div>
      
    </div>
    
    <!-- Title -->
    <div class="row my-2 justify-content-start align-items-center">
      <div class="col-sm-12 col-md-2">
        <h3 for="title">{{ gui_messages.poem_title }}</h3>
      </div>
      <div class="col-sm-12 col-md-4">
        {{ form.title|safe }}
        {% if form.title.errors %}
          {% for error in form.title.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
        
    </div>

    <!-- Author -->
    <div class="row justify-content-start">
      <div class="col-sm-12 col-md-2">
        <h3 for="author">{{ gui_messages.poem_author }}</h3>
      </div>
      <div class="col-sm-12 col-md-4">
        {{ form.author|safe }}
      </div>
    </div>

    <!-- Saved By (user) -->
    <div class="row justify-content-start">
      <div class="col-auto">
        <h3>{{ gui_messages.poem_saved_by }}</h3>
      </div>
      <div class="col">
        <h3>{{ user.username }}</h3>
      </div>
    </div>

    <div class="row">

      <!-- Original text -->
      <div class="col-sm-12 col-md-6">
        <div class="row"><h1>{{ gui_messages.original_text }}</h1></div>
          <div class="copyable-textbox">
            {{ form.original_text|safe }}
            
            <!-- Copy to clipboard icon -->
            <i id="copy_to_clipboard" class="far fa-copy copy-to-clipboard">
              <i id="check-icon" class="fa-solid fa-check save-check"></i>
            </i>
        </div>
      </div>

      <!-- Translation text -->
      <div class="col-sm-12 col-md-6">
        <div class="row"><h1>{{ gui_messages.translation_text }}</h1></div>
          <div class="copyable-textbox">
            {{ form.translation|safe }}

            <!-- Copy to clipboard icon -->
            <i id="copy_to_clipboard" class="far fa-copy copy-to-clipboard">
              <i id="check-icon" class="fa-solid fa-check save-check"></i>
            </i>
          </div>          

      </div>
      
    </div>

  </form>
</div>

{% endif %}
{% endblock %}