{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if poem.is_hidden and user != poem.saved_by %}
<div class="container-fluid text-center">
  <h class="display-6">{{ gui_messages.poem_hidden }}</h>
</div>
{% else %}
<div class="container-fluid px-4 py-2">

    <!-- Language engine -->
    <div class="row mb-3"><h class="display-6">{{ gui_messages.language_engine }} - <span class="fw-bold">{{ poem.language_engine }}</span></h></div>

    <div class="row my-0 justify-content-start align-items-center">
    
      <!-- Source language -->
      <div class="col-auto">
        {{ form.source_lang }}
      </div>
    
      <!-- A simple right arrow -> -->
      <div class="col-auto">
        <i class="fa-solid fa-arrow-right fa-beat fa-xl"></i>
      </div>
      
      <!-- Target language -->
      <div class="col-auto py-2">
        {{ form.target_lang }}
      </div>
    
      <!-- If user is poem's author, show the Change button -->
      {% if user == poem.saved_by %}
      <div class="col-sm-auto">
        <a id="btn-change-poem" class="btn btn-primary shadow-none" href="{% url 'poem_update' poem.id %}" role="button">{{ gui_messages.button_change_poem }}</a>
      </div>
      {% endif %}
    
    </div>

    <!-- Title -->
    <div class="row my-2 justify-content-start">
      <div class="col-sm-12 col-md-2">
        <h3 for="title">{{ gui_messages.poem_title }}</h3>
      </div>
      <div class="col-sm-12 col-md-4">
        {{ form.title }}
      </div>
    </div>

    <!-- Author -->
    <div class="row my-2 justify-content-start">
      <div class="col-sm-12 col-md-2">
        <h3 for="author">{{ gui_messages.poem_author }}</h3>
      </div>
      <div class="col-sm-12 col-md-4">
        {{ form.author }}
      </div>
    </div>

    <!-- Saved By (user) -->
    <div class="row justify-content-start">
      <div class="col-auto">
        <h3>{{ gui_messages.poem_saved_by }}</h3>
      </div>
      <div class="col">
        <h3>{{ poem.saved_by }}</h3>
      </div>
    </div>

      <!-- Is hidden from library -->
      {% if poem.is_hidden %}
        <div class="row my-2 justify-content-start">
          <div class="col">
            <h4 class="my-0"><span class="badge bg-secondary">{{ gui_messages.poem_hidden_badge }}</span></h4>
          </div>
        </div>
      {% endif %}
      

    <div class="row">
      
      <!-- Original text -->
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <h1>
            {{ gui_messages.original_text }}
          </h1>
        </div>

        <div class="copyable-textbox">
          {{ form.original_text }}

          <!-- Copy to clipboard icon -->
          <i id="copy_to_clipboard" class="far fa-copy copy-to-clipboard">
            <i id="check-icon" class="fa-solid fa-check save-check"></i>
          </i>
        </div>
          
      </div>

      <!-- Translation text -->
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <h1>
            {{ gui_messages.translation_text }}
          </h1>
        </div>
        
        <div class="copyable-textbox">
          {{ form.translation }}

          <!-- Copy to clipboard icon -->
          <i id="copy_to_clipboard" class="far fa-copy copy-to-clipboard">
            <i id="check-icon" class="fa-solid fa-check save-check"></i>
          </i>
        </div>

      </div>
      
      
    </div>
</div>
{% endif %}
{% endblock %}