{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container-wrapper">
    <div class="container-fluid p-4 text-center">
        <h class="display-6">{{ gui_messages.not_authenticated }}</h>
    </div>
</div>
{% else %}

{% if not user.is_premium %}
<div class="container-wrapper">
    <div class="container-fluid container-premium-get px-4 py-3">
        <h1>{{ gui_messages.premium_title }}</h1>
        <p>{{ gui_messages.premium_description }}</p>
        <ol>{{ gui_messages.premium_features }}</ol>

        <form action="{% url 'get_premium' %}" method="post" id="form-premium">
            {% csrf_token %}
            <button class="btn-get-premium" type="submit">{{ gui_messages.button_get_premium }}</button>
        </form>
    </div>
</div>

<script src="{% static 'js/premium.js' %}"></script>

{% else %}
<div class="container-wrapper">
    <div class="container-fluid container-premium-thank-you py-3">
        <div class="row justify-content-center text-center">
            <div class="col-sm-12 col-md-6">
                <h1>Never give up, premium user {{ user.username }}!</h1>
                <div class="thank-you-premium">{{ gui_messages.thank_you_premium|safe }}</div>

                <!-- Cancel premium form -->
                <form id="form-cancel-premium" action="{% url 'cancel_premium' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger shadow-none my-3" type="submit">{{ gui_messages.button_cancel_premium }}</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}