{% extends 'base.html' %}

{% block content %}
{% if not user.is_premium %}
<div class="container-fluid" style="background-color: aliceblue; padding: 40px;">
    <h1 style="color: #50586C;">Premium</h1>
    <p style="color: #50586C;">
        What you get with premium:
    </p>
    <ol>
        <li class="feature">
            Expanded Language Options: Premium users can translate poetry between a wider range of languages
        </li>
        <li class="feature">
            You can share your translations with the world
        </li>
        <li class="feature">
            You get your own premium badge on your profile
        </li>
        <li class="feature">
            And many more...
        </li>
    </ol>

    <form action="{% url 'get_premium' %}" method="post" id="premium-form">
        {% csrf_token %}
        <div class="stage">
            <button class="button_get_premium" type="submit" onclick="submitForm()">
                Try out for free!
            </button>
        </div>
    </form>
</div>

<script>
    function submitForm() {
        window.open('https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran', '_blank');
        document.getElementById("premium-form").submit();
    }
</script>

{% else %}
<div class="container-fluid" style="background-color: aliceblue; padding: 40px;">
    <h1 style="color: #50586C;">Never give up, premium user {{ user.username }}!</h1>
    <div class="thank_you_premium" style="font-size: 24;">
        <p>Hey there, {{ user.username }}!</p>
        <p>We just wanted to drop a quick note to say thank you for upgrading to the premium version of our app! We're
            thrilled to have you as a premium user and hope you're enjoying all the extra features.</p>
        <p>Your support means a lot to us and helps us continue to improve and develop new features that meet your
            needs. We're committed to providing the best user experience possible, and your decision to invest in the
            premium version motivates us to work even harder.</p>
        <p>If you have any feedback or suggestions for future updates, we'd love to hear them! We value your opinion and
            want to make sure we're meeting your expectations.</p>
        <p>Once again, thank you for choosing our premium version. We appreciate you and hope you continue to enjoy
            using our app.</p>
        Best regards,<br>
        Poetorium Team
    </div>
    <form action="{% url 'cancel_premium' %}" method="post">
        {% csrf_token %}
        <button style="margin-top: 20px;" class="btn btn-outline-danger" type="submit">
            Cancel Premium Status
        </button>
    </form>
</div>

{% endif %}
{% endblock %}