{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container-fluid px-4 py-2">
    <h class="display-6">{% trans "Premium is only available for registered users." %} <a href="{% url 'login' %}">{% trans "Sign in" %}</a> {% trans "and try again." %}</h>
</div>
{% else %}

{% if not user.is_premium %}
<div class="container-fluid container-premium-get px-4 py-3">
    <h1>{% trans "Premium" %}</h1>
    <p>{% trans "What you get with premium:" %}</p>
    <ol>
        <li class="feature">
            {% trans "Premium users can translate poetry between a wider range of languages" %}
        </li>
        <li class="feature">
            {% trans "You can save your poems to the library and edit them" %}
        </li>
        <li class="feature">
            {% trans "You get your own premium badge on your profile" %}
        </li>
        <li class="feature">
            {% trans "You will be able to earn badges for saving poems" %}
        </li>
        <li class="feature">
            {% trans "And many more..." %}
        </li>
    </ol>

    <form action="{% url 'get_premium' %}" method="post" id="form-premium">
        {% csrf_token %}
        <button class="btn-get-premium" type="submit">
            {% trans "Try out for free!" %}
        </button>
    </form>
</div>

<script src="{% static 'js/premium.js' %}"></script>

{% else %}
<div class="container-fluid container-premium-thank-you py-3">
    <div class="row justify-content-center text-center">
        <div class="col-sm-12 col-md-6">
            <h1>Never give up, premium user {{ user.username }}!</h1>
            <div class="thank-you-premium">
                {% trans "Thank you for upgrading to premium!" %}<br>
                {% trans "Enjoy all the features we have to offer!" %}
            </div>

            <!-- Cancel premium form -->
            <form id="form-cancel-premium" action="{% url 'cancel_premium' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger shadow-none my-3" type="submit">
                    {% trans "Cancel Premium Status" %}
                </button>
            </form>

        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}