{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="padding-left: 25px">
    <h1>Support us</h1>
    <p>If you like what we do, consider supporting us =)</p>
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <a href="https://boosty.to/davon.rolage/donate">
          <img src="{% static 'images/logo_boosty.svg' %}" class="img-fluid" style="max-width: 162px;">
        </a>
      </div>
      <div class="col-md-2 col-sm-6">
        <a href="https://www.buymeacoffee.com/davon.rolage" target="_blank"><img src="{% static 'images/logo_coffee.png' %}" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <img src="{% static 'images/qr_boosty.png' %}" class="img-fluid" style="max-width: 162px;">
      </div>
      <div class="col-md-2 col-sm-6">
        <img src="{% static 'images/qr_buy_coffee.png' %}" class="img-fluid" style="max-width: 162px;">
      </div>
    </div>
  </div>
{% endblock %}

