<!doctype html>
{% load static %}
{% load i18n %}
{% load base_extras %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Poetriumph</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://kit.fontawesome.com/58cc394653.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
  
  <style>
    body {
      background-image: url('{% static "images/background_full+.jpg" %}');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #145767;
      opacity: 0.95;
    }
  </style>
  
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  

  <!-- navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Poetriumph logo -->
    <div class="navbar-brand mx-3"><a href="{% url 'translation' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
          <!-- Language interface selection -->
          <div class="dropdown mx-auto">
            <button type="button" id="btn-language-dropdown" class="btn btn-outline-secondary dropdown-toggle shadow-none" data-bs-toggle="dropdown" aria-expanded="true">
              {% if request.LANGUAGE_CODE == 'en' %}
              <img class="image-flag me-1" src="{% static 'images/flags/usa_uk.png' %}" alt="flag_usa">English
              {% elif request.LANGUAGE_CODE == 'es' %}
              <img class="image-flag me-1" src="{% static 'images/flags/spain.png' %}" alt="flag_spain">Español
              {% elif request.LANGUAGE_CODE == 'ru' %}
              <img class="image-flag me-1" src="{% static 'images/flags/russia.png' %}" alt="flag_russia">Русский
              <!-- Add new languages here -->

              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btn-language-dropdown">
              <a class="dropdown-item" href="/en/{{ request.path|remove_language }}"><img class="image-flag me-1" src="{% static 'images/flags/usa_uk.png' %}" alt="flag_usa">English</a>
              <a class="dropdown-item" href="/es/{{ request.path|remove_language }}"><img class="image-flag me-1" src="{% static 'images/flags/spain.png' %}" alt="flag_spain">Español</a>
              <a class="dropdown-item" href="/ru/{{ request.path|remove_language }}"><img class="image-flag me-1" src="{% static 'images/flags/russia.png' %}" alt="flag_russia">Русский</a>
              <!-- Add new languages here -->
              
            </ul>
          </div>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'translation' %}">{{ gui_messages.poem_translation }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'poem_library' %}">{{ gui_messages.poem_library }}</a>
        </li>
        <li class="nav-item" {% if not user.is_authenticated %}hidden{% endif %}>
          <a class="nav-link" href="{% url 'my_library' %}">{{ gui_messages.my_library }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">{{ gui_messages.about }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'support_us' %}">{{ gui_messages.support_us }}</a>
        </li>
        <li class="nav-item mx-3">
          <a class="button_premium" href="{% url 'premium' %}">{{ gui_messages.premium }}</a>
        </li>
        <li>
          <div class="user_authentication text-center">
            {% if user.is_authenticated %}
            <span class="row my-1 justify-content-center">

              {{ gui_messages.greetings }} {% if user.is_premium %}<img id="premium-badge-icon" class="gx-0 mx-1" src="{% static 'images/badges/badge_premium.png' %}" alt="premium_badge">{% endif %}
              {{ user.username }}!
            </span>
              
              <a href="{% url 'my_profile' %}">{{ gui_messages.my_profile }}</a>
              ·
              <a href="{% url 'logout' %}">{{ gui_messages.logout }}</a>
            
              {% if user.is_staff %}
                <a href="/admin/" class="text-decoration-none">&#9881;{{ gui_messages.admin_panel }}</a>
              {% endif %}

            {% else %}
            <div class="login_register my-2">
              <a href="{% url 'login' %}">{{ gui_messages.login }}</a>
              ·
              <a href="{% url 'signup' %}">{{ gui_messages.register }}</a>
            </div>
            {% endif %}
        </li>

        {% if user.is_staff %}
        <!-- New Features and Test Area, shown only to staff users -->
        <div class="staff_area">  
          <div class="new_features_area"><a class="btn btn-outline-info shadow-none" href="{% url 'new_features' %}">New Features</a></div>
          <div class="test_area"><a class="btn btn-warning shadow-none" href="{% url 'test' %}">Test Area</a></div>
        </div>
        {% endif %}

      </ul>
    </div>
  </nav>

  {% for message in messages %}
  <!-- Alerts -->
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
    {{ message|safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <script src="{% static 'js/base.js' %}"></script>

  {% block content %}
  {% endblock %}

  <footer class="ps-3 pt-3 ms-3">
    <p>&copy; 2023 Poetriumph, <a href="https://newa.fun" target="_blank">Newa Fun</a>. {{ gui_messages.copyright }}</p>
  </footer>

</body>
</html>