{% extends 'base.html' %}

{% block content %}
{% if not user.is_premium %}
<div class="container-fluid" style="background-color: #DCE2F0;">
    <h1 style="color: #50586C;">Premium</h1>
    <p style="color: #50586C;">
        What you get with premium:
    </p>
    <ol>
        {% for feature in premium_features %}
        <li class="feature">
            {{ feature }}
        </li>
        {% endfor %}
    </ol>


    <button style="background-color: #50586C; margin: 20px; padding: 20px; color: #DCE2F0; border-radius: 20px">
        Try out for free
    </button>
    <br>
    BTC:
    <br>
    ETH:
    <br>
    USDT:
</div>
{% else %}
<div class="container-fluid" style="background-color: #DCE2F0;">
    <h1 style="color: #50586C;">You are a premium user!</h1>
    <div class="thank_you_premium" style="font-size: 24;">
        <p>Hey there, {{ user.username }}!</p>
        <p>We just wanted to drop a quick note to say thank you for upgrading to the premium version of our app! We're
            thrilled to have you as a premium user and hope you're enjoying all the extra features.</p>
        <p>Your support means a lot to us and helps us continue to improve and develop new features that meet your
            needs. We're committed to providing the best user experience possible, and your decision to invest in the
            premium version motivates us to work even harder.</p>
        <p>If you have any feedback or suggestions for future updates, we'd love to hear them! We value your opinion and
            want to make sure we're meeting your expectations.</p>
        <p>Once again, thank you for choosing our premium version. We appreciate you and hope you continue to enjoy
            using our app.</p>
        Best regards,<br>
        Poetorium Team
    </div>
</div>
{% endif %}
{% endblock %}